body{
    display: flex;

    align-items:  flex-start;
 background: #020024;
background-color: #1b00bf ;

  





color: white;
    
}

div{
   
    margin: auto;
    
    align-items: center;
    flex-direction: column;
    display: flex;


}

form{

    border:solid white 5px;
   display: grid;
   padding: 15px;
    border-radius:25px;
    flex-direction: column;
    margin-top:2vh ;
    

    
}

nav{ 
   
    border: solid white;
display: flex;
    border-radius:25px;
    padding: 1vh;
    margin-top: 1vh;
    
   
 
    
   
}

a{
    color: white;
    text-decoration: none;
    padding: 0.5vh;
 
}



input{
    border-radius:10px ;
}


label{
    padding: 10px;
    font-size: larger;
    font-weight: 500;
}

p{
    
border: solid ;
border-radius: 15px;
padding: 1vh;
margin-bottom: auto;
font-size: 30px;

    
}


#submit, #reset{
    
    border: solid white;
    
;   
}

audio{
    margin-top: 3vh;
    border-radius: 25px;
}

 #audio_label{
   margin-top: 3vh;
  font-size: 3vh;
}


img{
    max-width:10vh;
    max-height: 9,5vh;
   margin-right: 3vh;
   border-radius: 25px;
}

#favicon{
    border-radius: 50px;
}

h1{
    margin-top:5vh ;
}


a:hover{
    transform: scale(110%);
    transition-duration: 0.3s;
}



label:hover{
transform: scale(110%);
transition-duration: 0.2s;
}





h1:hover{

    transform: scale(110%);
    transition-duration: 0.3s;
}



